
body {
  text-align: center;
  font-family: arial;
  color: 	#FAFAD2;
  background: linear-gradient(
     80deg,
      rgba(87,92,95,0.5),
      rgba(38,45,50, 0.8))
    ,url(https://github.com/web-beginner/try/blob/master/FitX.jpg?raw=true);
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
 background-size: cover;
}
#title{
   font-size: 2.5rem;
}
#description{
  font-size: 1.2rem;
 
}

  textarea{
  width:80%;
  height: 20%;
  padding: 0.3rem;
}


#survey-form {
  font-size: 1.1rem;
  background: rgba(56,69,71, 0.8);
  padding: 2em;
  line-height: 2em; 
  width: 40%;
  text-align: left;
  border-radius: 10px/10px;
  display: inline-block;
  height:auto;
   
}
#submit{
  font-size: 1.1rem;
  cursor: pointer;
  }
  .a{
    text-colour:#FAFAD2;
  }

@media all and (max-width: 400px) {
#survey-form {
width: 70%;
height:auto;
font-size: 0.9rem;
line-height: 1.5em;
}
  #title{
   font-size: 2.0rem;
}
#description{
  font-size: 0.9rem;
 
}
  #submit{
  font-size: 0.8rem;
 
  }
}
  
